/* .App {
  text-align: center;
  background-color: black ;
  color: white;
} */
.container{
  /* text-align: center; */
	/* background-color: rgb(37, 142, 8);
	clip-path:
	polygon(
        0% 0%,
        100% 0, 
        100% 60%,
        0% 100%); */
} 