 .header{
    background-color: rgb(135, 63, 63);
    height: 100vh;
}
/*
.header1{
	height: 500px;
	background-color: rgb(37, 142, 8);
	clip-path:
	polygon(
        0% 0%,
        100% 0, 
        100% 60%,
        0% 100%);
	/* border-radius: 10em; 
} */