body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .index-container{
  display: flex;
  flex-direction: column;
  height: 100%;
} */

.index-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* .nav-con{
  flex:1
} */

/* .Site-content {
  flex: 1;
} */