.navbar-container{
    background-color: var(--color-primary);
}
.navbar-button-container{
    border-radius: 0.3rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    margin: 0.5rem;
    width: 10rem;
    text-align: center;
    border: 1px solid black;
}

.navbar-button-container:hover{
    transition: none !important;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 1px solid black;
}
.navbar-button{
    text-decoration: none !important;
}     


/* MEDIA QUERY */

@media only screen and (max-width: 700px) {
    .link-container {
      display: none !important;
    }
    .link-container-btn {
        display: flex !important;
      }
  }
  @media only screen and (min-width: 700px) {
    .link-container-btn {
      display: none !important;
    }
    .link-container {
        display: flex !important;
      }
  }

  @media only screen and (min-width: 350) {
    .navbar-container{
      height: 20vh !important ;
    }
  }